In [2]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder\
        .master("local")\
        .appName("Word count")\
        .config("spark.some.config.option","some-value")\
        .getOrCreate()

In [5]:
spark

In [32]:
from pyspark.sql.functions import *

In [33]:
df = spark.read.format("csv")\
    .option("inferschema","True")\
    .option("header","True")\
    .load("data/apple_data/apple_products.csv")

In [34]:
df.printSchema()

root
 |-- Product Name: string (nullable = true)
 |-- Product URL: string (nullable = true)
 |-- Brand: string (nullable = true)
 |-- Sale Price: integer (nullable = true)
 |-- Mrp: integer (nullable = true)
 |-- Discount Percentage: integer (nullable = true)
 |-- Number Of Ratings: integer (nullable = true)
 |-- Number Of Reviews: integer (nullable = true)
 |-- Upc: string (nullable = true)
 |-- Star Rating: double (nullable = true)
 |-- Ram: string (nullable = true)

In [35]:
df.show(5)

+--------------------+--------------------+-----+----------+-----+-------------------+-----------------+-----------------+----------------+-----------+----+
|        Product Name|         Product URL|Brand|Sale Price|  Mrp|Discount Percentage|Number Of Ratings|Number Of Reviews|             Upc|Star Rating| Ram|
+--------------------+--------------------+-----+----------+-----+-------------------+-----------------+-----------------+----------------+-----------+----+
|APPLE iPhone 8 Pl...|https://www.flipk...|Apple|     49900|49900|                  0|             3431|              356|MOBEXRGV7EHHTGUH|        4.6|2 GB|
|APPLE iPhone 8 Pl...|https://www.flipk...|Apple|     84900|84900|                  0|             3431|              356|MOBEXRGVAC6TJT4F|        4.6|2 GB|
|APPLE iPhone 8 Pl...|https://www.flipk...|Apple|     84900|84900|                  0|             3431|              356|MOBEXRGVGETABXWZ|        4.6|2 GB|
|APPLE iPhone 8 (S...|https://www.flipk...|Apple|     77000|77000|                  0|            11202|              794|MOBEXRGVMZWUHCBA|        4.5|2 GB|
|APPLE iPhone 8 (G...|https://www.flipk...|Apple|     77000|77000|                  0|            11202|              794|MOBEXRGVPK7PFEJZ|        4.5|2 GB|
+--------------------+--------------------+-----+----------+-----+-------------------+-----------------+-----------------+----------------+-----------+----+
only showing top 5 rows

In [36]:
df.count()

62

In [37]:
df.select("Mrp").show(5)

+-----+
|  Mrp|
+-----+
|49900|
|84900|
|84900|
|77000|
|77000|
+-----+
only showing top 5 rows

In [39]:
df.select("Product Name").distinct().show()

+--------------------+
|        Product Name|
+--------------------+
|APPLE iPhone 8 (S...|
|APPLE iPhone 11 (...|
|APPLE iPhone 12 P...|
|APPLE iPhone 11 (...|
|APPLE iPhone 12 (...|
|APPLE iPhone 12 (...|
|Apple iPhone XR (...|
|APPLE iPhone 12 M...|
|APPLE iPhone 12 P...|
|APPLE iPhone 12 P...|
|APPLE iPhone 12 (...|
|APPLE iPhone 11 P...|
|APPLE iPhone SE (...|
|Apple iPhone SE (...|
|APPLE iPhone 12 P...|
|APPLE iPhone XS M...|
|APPLE iPhone 12 M...|
|APPLE iPhone 11 P...|
|APPLE iPhone SE (...|
|Apple iPhone XR (...|
+--------------------+
only showing top 20 rows

In [47]:
df.select(max(col("Mrp")).alias("max_mrp")).show()

+-------+
|max_mrp|
+-------+
| 149900|
+-------+

In [48]:
df.select(min(col("Mrp")).alias("Min_mrp")).show()

+-------+
|Min_mrp|
+-------+
|  39900|
+-------+

In [50]:
df.where(col("Mrp")< 149000).show(5)

+--------------------+--------------------+-----+----------+-----+-------------------+-----------------+-----------------+----------------+-----------+----+
|        Product Name|         Product URL|Brand|Sale Price|  Mrp|Discount Percentage|Number Of Ratings|Number Of Reviews|             Upc|Star Rating| Ram|
+--------------------+--------------------+-----+----------+-----+-------------------+-----------------+-----------------+----------------+-----------+----+
|APPLE iPhone 8 Pl...|https://www.flipk...|Apple|     49900|49900|                  0|             3431|              356|MOBEXRGV7EHHTGUH|        4.6|2 GB|
|APPLE iPhone 8 Pl...|https://www.flipk...|Apple|     84900|84900|                  0|             3431|              356|MOBEXRGVAC6TJT4F|        4.6|2 GB|
|APPLE iPhone 8 Pl...|https://www.flipk...|Apple|     84900|84900|                  0|             3431|              356|MOBEXRGVGETABXWZ|        4.6|2 GB|
|APPLE iPhone 8 (S...|https://www.flipk...|Apple|     77000|77000|                  0|            11202|              794|MOBEXRGVMZWUHCBA|        4.5|2 GB|
|APPLE iPhone 8 (G...|https://www.flipk...|Apple|     77000|77000|                  0|            11202|              794|MOBEXRGVPK7PFEJZ|        4.5|2 GB|
+--------------------+--------------------+-----+----------+-----+-------------------+-----------------+-----------------+----------------+-----------+----+
only showing top 5 rows

In [53]:
df.where(col('Mrp') == 39900).show()

+--------------------+--------------------+-----+----------+-----+-------------------+-----------------+-----------------+----------------+-----------+----+
|        Product Name|         Product URL|Brand|Sale Price|  Mrp|Discount Percentage|Number Of Ratings|Number Of Reviews|             Upc|Star Rating| Ram|
+--------------------+--------------------+-----+----------+-----+-------------------+-----------------+-----------------+----------------+-----------+----+
|APPLE iPhone SE (...|https://www.flipk...|Apple|     29999|39900|                 24|            95807|             8154|MOBFWQ6BGWDVGF3E|        4.5|2 GB|
|APPLE iPhone SE (...|https://www.flipk...|Apple|     29999|39900|                 24|            95909|             8161|MOBFWQ6BR3MK7AUG|        4.5|4 GB|
+--------------------+--------------------+-----+----------+-----+-------------------+-----------------+-----------------+----------------+-----------+----+

In [54]:
df.createOrReplaceTempView('apple_table')

In [57]:
spark.sql("select * from apple_table").show(5)

+--------------------+--------------------+-----+----------+-----+-------------------+-----------------+-----------------+----------------+-----------+----+
|        Product Name|         Product URL|Brand|Sale Price|  Mrp|Discount Percentage|Number Of Ratings|Number Of Reviews|             Upc|Star Rating| Ram|
+--------------------+--------------------+-----+----------+-----+-------------------+-----------------+-----------------+----------------+-----------+----+
|APPLE iPhone 8 Pl...|https://www.flipk...|Apple|     49900|49900|                  0|             3431|              356|MOBEXRGV7EHHTGUH|        4.6|2 GB|
|APPLE iPhone 8 Pl...|https://www.flipk...|Apple|     84900|84900|                  0|             3431|              356|MOBEXRGVAC6TJT4F|        4.6|2 GB|
|APPLE iPhone 8 Pl...|https://www.flipk...|Apple|     84900|84900|                  0|             3431|              356|MOBEXRGVGETABXWZ|        4.6|2 GB|
|APPLE iPhone 8 (S...|https://www.flipk...|Apple|     77000|77000|                  0|            11202|              794|MOBEXRGVMZWUHCBA|        4.5|2 GB|
|APPLE iPhone 8 (G...|https://www.flipk...|Apple|     77000|77000|                  0|            11202|              794|MOBEXRGVPK7PFEJZ|        4.5|2 GB|
+--------------------+--------------------+-----+----------+-----+-------------------+-----------------+-----------------+----------------+-----------+----+
only showing top 5 rows

In [70]:
spark.sql("""
        SELECT 
            `Product Name`,
            SUM(Mrp) sum_mrp
        FROM apple_table 
        GROUP BY `Product Name`
          """).where(col('sum_mrp')> 100000).show()

+--------------------+-------+
|        Product Name|sum_mrp|
+--------------------+-------+
|APPLE iPhone 12 P...| 129900|
|APPLE iPhone 12 P...| 139900|
|APPLE iPhone 12 P...| 129900|
|APPLE iPhone 11 P...| 117100|
|APPLE iPhone 12 P...| 139900|
|APPLE iPhone 11 P...| 140300|
|APPLE iPhone 12 P...| 119900|
|APPLE iPhone 12 P...| 119900|
|APPLE iPhone 12 P...| 129900|
|APPLE iPhone 11 P...| 117100|
|APPLE iPhone 12 P...| 139900|
|APPLE iPhone 11 P...| 106600|
|APPLE iPhone 12 P...| 139900|
|APPLE iPhone 11 P...| 121300|
|APPLE iPhone 11 P...| 131900|
|APPLE iPhone 11 P...| 140300|
|APPLE iPhone 12 P...| 149900|
|APPLE iPhone 12 P...| 129900|
|APPLE iPhone 12 P...| 149900|
|APPLE iPhone 11 P...| 117100|
+--------------------+-------+
only showing top 20 rows

In [68]:
spark.sql("""SELECT 
                `Product Name`,
                SUM(Mrp) sum_mrp
          FROM apple_table
          GROUP BY `Product Name`
          """).where(col('sum_mrp')> 100000).show()

+--------------------+-------+
|        Product Name|sum_mrp|
+--------------------+-------+
|APPLE iPhone 12 P...| 129900|
|APPLE iPhone 12 P...| 139900|
|APPLE iPhone 12 P...| 129900|
|APPLE iPhone 11 P...| 117100|
|APPLE iPhone 12 P...| 139900|
|APPLE iPhone 11 P...| 140300|
|APPLE iPhone 12 P...| 119900|
|APPLE iPhone 12 P...| 119900|
|APPLE iPhone 12 P...| 129900|
|APPLE iPhone 11 P...| 117100|
|APPLE iPhone 12 P...| 139900|
|APPLE iPhone 11 P...| 106600|
|APPLE iPhone 12 P...| 139900|
|APPLE iPhone 11 P...| 121300|
|APPLE iPhone 11 P...| 131900|
|APPLE iPhone 11 P...| 140300|
|APPLE iPhone 12 P...| 149900|
|APPLE iPhone 12 P...| 129900|
|APPLE iPhone 12 P...| 149900|
|APPLE iPhone 11 P...| 117100|
+--------------------+-------+
only showing top 20 rows

In [71]:
df.withColumn('dis_price',col("Mrp")*0.1).select("Product Name","Mrp","dis_price")\
    .withColumn('new_price',col("Mrp")- col("dis_price"))\
    .orderBy(col("new_price").desc())\
    .show(10)

+--------------------+------+---------+---------+
|        Product Name|   Mrp|dis_price|new_price|
+--------------------+------+---------+---------+
|APPLE iPhone 12 P...|149900|  14990.0| 134910.0|
|APPLE iPhone 12 P...|149900|  14990.0| 134910.0|
|APPLE iPhone 11 P...|140300|  14030.0| 126270.0|
|APPLE iPhone 11 P...|140300|  14030.0| 126270.0|
|APPLE iPhone 12 P...|139900|  13990.0| 125910.0|
|APPLE iPhone 12 P...|139900|  13990.0| 125910.0|
|APPLE iPhone 12 P...|139900|  13990.0| 125910.0|
|APPLE iPhone 12 P...|139900|  13990.0| 125910.0|
|APPLE iPhone 11 P...|131900|  13190.0| 118710.0|
|APPLE iPhone 11 P...|131900|  13190.0| 118710.0|
+--------------------+------+---------+---------+
only showing top 10 rows

In [72]:
df.write.mode("overwrite").partitionBy("Product Name").save("data/apple_data/output2.csv")